/* Customize Start Here */
.content p {
	line-height: 18px;
	text-align: justify;
	margin: 0;
	padding: 0;
}
.content img {
	margin-top: 10px;
}
/* End of customization */
.content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-align: justify;
}


.conttable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.conttable2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-left: 5px;
}

.conthead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0000FF;
}


.smallhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.smallhead a {
	color: #000000;
	text-decoration: none;
}



.smallcont {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}


.smallwhitehead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}


.inputnorm
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 1px;
    border: solid 1px #666666;
    background-color: #FFFFFF;
}


a.iflink {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; text-decoration: none;}
a.iflink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}


a.menu {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; font-weight: bold; text-decoration: none;}
a.menu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
        font-weight: bold;
	color: #DA7A00;
	text-decoration: none;
}

.redlink {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #BB0000; font-weight: bold; text-decoration: none;}
a.redlink {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #BB0000; font-weight: bold; text-decoration: none;}
a.redlink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
        font-weight: bold;
	color: #BB0000;
	text-decoration: none;
}

a.sbluelink {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #0000FF; font-weight: bold; text-decoration: underline;}
a.sblue:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
        font-weight: bold;
	text-decoration: none;
}

a.whitelink {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; font-weight: bold; text-decoration: none;}
a.whitelink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
        font-weight: bold;
	text-decoration: none;
}

a.blacklink {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none;}
a.blacklink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}.left-news ul {
	list-style-type: none;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 7px;
	padding-left: 0px;
}
.left-news {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.left-news li {
	background-image: url(/img/bar_arrow.gif);
	background-repeat: no-repeat;
	background-position: 2px 8px;
	padding-left: 16px;
	padding-top: 7px;
	padding-bottom: 8px;
	padding-right: 2px;
}
.left-news a {
	color: #FFFFFF;
	text-decoration: none;
}
.header_title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.font_red36{
	font-family: Arial, Helvetica, sans-serif;
	color: #ff0000;
	font-size: 36px;
		font-weight: bold;
}
.product_title{
	font-family: Arial, Helvetica, sans-serif;
	color: #000080;
	font-size: 36px;
	font-weight: bold;
}.news-eve {
	border-top-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-left-color: #999999;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.news-eve ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.news-eve li {
	background-image: url(/img/news-bullet.jpg);
	background-repeat: no-repeat;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	margin: 0px;
	display: block;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 16px;
	background-position: 1px 5px;
}
.news-eve a {
	color: #000000;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.news-eve a:hover {
	color: #666666;
	padding-top: 0px;
	margin: 0px;
}

.search-bg {
	background-color: #E8DFE0;
}
.search-bg1 {
	background-color: #6ac1f3;
}
.search-input1 {
	height: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 137px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #919c82;
	border-bottom-color: #919c82;
	border-right-width: 0px;
	border-left-width: 0px;
}
.Block {
	padding-left: 8px;
	padding-right: 5px;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}.next {
	color: #F00;
}
.conthead_products {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.8;
	color: #0000FF;
}
.left-news_myo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFF;
}
.smallhead1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FC0;
}
.smallcont_myo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
}
.smallhead2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #F00;
}
.smallhead11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FC0;
}
.smallhead12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #F90;
}
.header_title1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
}
.header_title2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
}
.smallcont_over {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00F;
}
.header_title5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.3;
	color: #FFF;
	
}
.fe_riz {
	font-family:  Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #006;
}
.fe1 {
	font-family:  Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #006;
}
.fe2 {
	font-family:  Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color: #00F;
	font-weight: bold;
}
.fe3 {
	font-family:  Tahoma, Verdana, Arial,  Helvetica, sans-serif;
	font-size: 11px;
	color: #006;
}
a.whitelink2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
a.whitelink2:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	font-weight: bold;
	text-decoration: none;
}


.left-news_myo ul {
	list-style-type: none;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
}
.left-news_myo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.left-news_myo li {
	background-image: url(/img/bar_arrow.gif);
	background-repeat: no-repeat;
	background-position: 2px 6px;
	padding-left: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 2px;
}
.left-news_myo a {
	color: #666;
	text-decoration: none;
}